@font-face{
    src: url(./fonts/OpenSans-Bold.ttf);
    /* src: url(./Pacifico/Pacifico-Regular.ttf); */
    font-family: OpenSans;
}
body{
    background: #9C835F;
}

.font-yellow{
    color: #F9B23D;
}
.font-white{
    color: white;
}
.font-red{
    color: #BD0000;
}

.font-OpenSans{
    font-family: OpenSans;
}

.font-uppercase{
    text-transform: uppercase;
}

.content-img-chosing{
    width: 60%;
    height: auto;
}
.font-space-01{
    letter-spacing: 0.1em;
}

.pick{
    background: #C4C4C4;
}
.rectangle{
    background: #4C9654;
    width: 90%;
    height: 25%;
    border-radius: 10px;
    transform: rotate(-30deg);
}

.square {
    width: 12vw;
    height: 12vw;
    border-radius: 15%;
}
.img-top{
    width: 5vw ;
    height: 5vh;
}
.img-top-1{
    width: 8vw;
    height: 8vh;
}
.square-com {
    width: 12vw;
    height: 12vw;
    border-radius: 15%;
}
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .margin-zero{
     margin: 0;
 }
.center-content img {
    margin: 0 }

.font-responsive-2vw{
    font-size: 2vw;
}
.font-responsive-10vw{
    font-size: 10vw;
}
.square:hover{
    background: #C4C4C4; ;
}
.position-reset{
    position: absolute;
    bottom: 10px;
    width: 8vw;
    height: 8vh;
   border-radius: 10vw;
}


.position-reset:hover{
    background: #C4C4C4;
}
